@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}

.avatar img {
    border-radius: 50%;
    position: relative;
    left: -5px;
    margin-left: -25px;
    z-index: 1;
}

.avatars {
    direction: rtl; /* This is to get the stack with left on top */
    text-align: left; /* Now need to explitly align left */
    padding-left: 25px; /* Same value as the negative margin */
}
